html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-size: cover;
  background-image: url(assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);
}

.navPart {
  grid-column: 1/20;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.navPartnav {
  grid-column: 10/20;
  grid-row: 1/8;
  height: 100%;
  align-self: center;
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.navPartnav-parts {
  text-decoration: none;
  color: white;
  justify-self: center;
  opacity: 100% !important;
}

.navPartnav-part1 {
  grid-column: 3/5;
}

.part1HR {
  width: 100%;
  grid-column: 3/5;
  position: relative;
  top: 27px;
  margin: 0;
  visibility: hidden;
}

.navPartnav-part2 {
  grid-column: 5/7;
}

.part2HR {
  grid-column: 5/7;
  position: relative;
  top: 27px;
  margin: 0;
  visibility: visible;
}

.navPartnav-part3 {
  grid-column: 7/9;
}

.part3HR {
  width: 100%;
  grid-column: 7/9;
  position: relative;
  top: 27px;
  margin: 0;
  visibility: hidden;
}

.navPartnav-part4 {
  grid-column: 9/11;
}

.part4HR {
  width: 100%;
  grid-column: 9/11;
  position: relative;
  top: 27px;
  margin: 0;
  visibility: hidden;
}

.navPartHR {
  width: 100%;
  grid-column: 4/10;
  grid-row: 3/5;
  overflow: visible;
  z-index: 2;
  align-self: flex-end;
  border-color: #484B54;
  position: relative;
  right: -12px;
  top: 3px;
}

.navPartLogo {
  width: 40px;
  grid-column: 1/3;
  grid-row: 2/5;
  justify-self: center;
}

.destPage {
  grid-column: 3/19;
  grid-row: 5/18;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.destPage-title {
  grid-column: 1/8;
  grid-row: 1/3;
}

.destPage-titleNumber {
  color: #43464d;
  margin-right: 20px;
}

.destPage-titleText {
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 100;
}

.destPage-imgPart {
  grid-column: 3/11;
  grid-row: 4/10;
}

.destPage-img {
  width: 70%;
}

.destPage-explained {
  grid-column: 13/19;
  grid-row: 3/12;
}

.insideMenuItems{
  display: inline;
}

.destPage-insideMenu{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  padding-right: 18px;
  color: #D0D6F9;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

li a:hover {
  color: #ffffff;
}

li a.active {
  position: relative;
}

li a.active::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the value as needed */
  left: 0;
  width: 68%;
  height: 2px;
  background-color: #D0D6F9; /* Change this to the desired color */
}

.destPage-explainedTitle{
  font-size: 80px;
  color: #ffffff;
  font-family: 'Bellefair', serif;
  font-weight: 100;
  grid-row: 5/7;
  align-self: center;
  justify-self: center;
}

.destPage-explainedText{
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 100;
  grid-row: 7/11;
  grid-column: 13/18;
  align-self: center;
  justify-self: center;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 40px;
}

h1 {
  margin-block-start: 0.33em;
  margin-block-end: 0;
}

.destPage-explainedHR{
  border-color: #383B4B;
}

.destPage-explainedStats1 {
  display: grid;
  grid-template-columns: auto auto; /* Add this to create two columns */
  grid-gap: 20px; /* Add some spacing between the columns */
  grid-row: 9/11; /* Adjust the grid row to align with the text */
  margin-bottom: 10px;
  margin-top: 20px;
}

.destPage-explainedStats2 {
  display: grid;
  grid-template-columns: auto auto; /* Add this to create two columns */
  grid-gap: 20px; /* Add some spacing between the columns */
  grid-row: 9/11; /* Adjust the grid row to align with the text */
}

.destPage-explainedStats1-title,
.destPage-explainedStats2-title,
.destPage-explainedStats1-answer,
.destPage-explainedStats2-answer {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  margin: 0;
}

.destPage-explainedStats1-title,
.destPage-explainedStats2-title {
  font-size: 14px;
  color: #ffffff;
}

.destPage-explainedStats1-answer,
.destPage-explainedStats2-answer {
  font-size: 16px;
  color: #D0D6F9;
}

.attribution {
  text-align: center;
  align-self: center;
  grid-column: 3/18;
  grid-row: 19/20;
}

.attributionText{
  font-size: 8px;
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

.attribution a {
  color: #D0D6F9;
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: none;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}




